<div class="ui container margin-top-40">
	<h1 class="ui header">Contact<h1>
	<form class="ui form">
		<div class="three fields">
			<div class="field">
				<div class="ui input">
	    			<input type="text" placeholder="Name">
				</div>
			</div>
			<div class="field">
				<div class="ui input">
	    			<input type="text" placeholder="Phone number">
				</div>
			</div>
			<div class="field">
				<div class="ui input">
	    			<input type="text" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="field">
			<div class="ui input">
				<textarea placeholder="Message"></textarea>
			</div>
		</div>
		<div class="item right">
	    	<a class="ui button teal">Send Message</a>
		</div>
	</form>
</div>