<html>

<head>
    <meta charset="UTF-8">
    <title>Login Ailee Phan</title>
</head>

<body>
	<table>
		<tr>
			<td>
			Name: <%=name%>
			</td>
			<td>
			ID: <%=id%>
			</td>
			<td>
			TK: <%=tk%>
			</td>
		</tr>
	</table>
</body>
</html>