<div class="ui container margin-top-40">
	<div class="ui piled segments">
		<div class="ui segment">
			<h1 class="ui header pink">
				<span class="font-header">Runner on Trail at Sunset</span>
				<div class="sub header">Fairy tales </div>
			</h1>

			<p class="italic">Tôi muốn viết về... 1 người phụ nữ "rất" bình thường trong xã hội - nhưng là nguồn sống vô bờ bến của tôi, 1 trái tim không đủ rộng để che cả thế giới, nhưng lại chói chang ánh sáng, soi lối tôi vào đời.</p>

			<div class="image"><img src="../image1.jpg" width="100%" height="300px"></div>
			<h4 class="ui horizontal divider header">
			  	<i class="tag icon"></i> 4 hours ago
			</h4>
			<p><b>Mẹ - con xin viết về người.</b></p>
			<p>Có thể dòng cảm xúc này sẽ không thể nào mẹ thấy được, vì vốn dĩ người chả biết gì về máy tính, chả biết gì về mạng xã hội. Điều người biết chỉ vỏn vẹn là những việc nhà thường nhật trong căn bếp chật chội và hơn nữa là từng nếp nhăn trên chiếc áo con mỗi ngày. Con biết, biết mình đủ lớn để chọn cho mình mọi hướng đi vì sở thích, vì tương lai và vì cả sự bồng bột của tuổi trẻ. Và với mẹ, điều mà mẹ quan tâm, chỉ đơn giản là con có vui hay không.</p>
			<p>Cuộc đời chẳng bao giờ có việc gì đáng làm hay không đáng. Và với mẹ thì chỉ là đúng hoặc sai, nên làm hoặc dừng mọi thứ trước khi nó kịp bắt đầu. Cứ như vậy, con mãi vẫn chỉ là 1 đứa con nít đang chập chững bước vào đời. Nhiều lúc giận lắm... giận cái lúc con có giấy mời được tham gia huấn luyện dài hạn, được kết nạp Đảng rồi cả 1 tương lai phấn đấu vì nước vì dân. Nhưng mẹ nói không... chẳng lí do gì hợp lí ngoài câu nói " tao sống chung vs 1 đảng viên suốt mấy chục năm rồi, tao hiểu". Lúc đó mẹ biết con nghĩ gì không? Cuộc đời con từ lúc ý thức được cuộc sống, thì chỉ có 2 ng đàn ông con coi đó là hình tượng - Bác và ba.</p>
			<p>Con muốn được như thế, muốn được mọi điều như ba bây giờ, 1 đảng viên gương mẫu chưa hôi 1 xu nào của dân, và những tinh thần mà người luôn nắm giữ. Thế nhưng, quả thực thì cuộc sống của ba, ngoài gia đình thì mọi thứ vẫn luôn là gánh nặng. Mẹ gợi ý về những công ty, những cơ hội cho 1 sinh viên mới ra trường như con. Nhưng điều con yêu thích lại là kinh doanh, là phiêu lưu giữa thương trường rộng lớn... thế nhưng bây giờ, con vẫn là nhân viên của 1 công ty và là 1 đứa con biết nghe lời thế đó, mọi thứ cứ như được sắp đặt từ rất lâu rồi... đã hơn 1 lần con xem mình như đứa nhu nhược, không có chính kiến, con thấy mình giống cái bóng của ba mẹ, đang ngày ngày múa may rập khuôn theo cử chỉ của 2 người, và con cũng đã từng muốn đi thật xa, trốn tránh mọi kế hoạch đã được ba mẹ phát thảo từ trước. Nhưng, con sai rồi. Con sai ngay từ lúc bắt đầu trách móc mọi thứ Đảng viên tốt thì sao? Lập trường kiên định vì nước vì dân thì sao? Vẫn là tự đưa mình vào thế khó giữa dân và nước, vẫn phải đối mặt vs mọi lời nhận xét của nhiều người và chắc hẵn điều đó sẽ làm mẹ không vui. doanh nhân thì sao? Nếu không thành công thì con sẽ lại bắt đầu từ đâu khi đã cãi lại gia đình? Con chợt nhận ra, mọi thứ mẹ cần ở con chỉ là sự yên bình, không tranh đua, không phiền não. Mẹ muốn thấy con trưỡng thành trên 1 con đường thẳng tắp, an toàn và không quá nhiều chông gai... con nợ mẹ 1 lời xin lỗi, con nợ mẹ cái ôm thật sâu mà từ lâu con đã không dám làm, con không can đảm bằng học sinh lớp 5 mẹ nhỡ? Con đã có 1 công việc ổn định, 1 vị trí nho nhỏ trong xã hội. Nhưng đều là mọi thứ mà ba, mẹ đã cho con. Thế nên, điều tự hào duy nhất của con lúc này là được sinh ra từ ba, mẹ. 2 con người "rất" bình thường nhưng lại vô cùng vĩ đại!</p>
		</div>
	</div>
	<div class="ui two segments">
		<div class="ui segment">
		    <div class="ui threaded comments">
		  		<h3 class="ui dividing header pink">Comments</h3>
		  		<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				<div class="fb-comments"
			     data-href="http://example.com/comments"
			     data-numposts="5"
			     data-width="100%"
			     data-colorscheme="light">
			     </div>
			</div>
		</div>
	</div>
</div>