<div class="ui container margin-top-40">
    <div class="ui four cards">
        <div class="ui card">
            <div class="content">
                <div class="right floated meta">2 days</div>
                <img class="ui avatar image" src="ailee.ico" /> Ailee
            </div>
            <div class="image">
                <img src="ailee1.jpg" />
            </div>
            <div class="content">
                <div class="header">Matt Giampietro</div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">2013 views</span>
                <span><i class="comment icon"></i>75 Comments</span>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="right floated meta">2 days</div>
                <img class="ui avatar image" src="ailee.ico" /> Ailee
            </div>
            <div class="image">
                <img src="ailee2.jpg" />
            </div>
            <div class="content">
                <div class="header">Matt Giampietro</div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">2013 views</span>
                <span><i class="comment icon"></i>75 Comments</span>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="right floated meta">2 days</div>
                <img class="ui avatar image" src="ailee.ico" /> Ailee
            </div>
            <div class="image">
                <img src="ailee3.jpg" />
            </div>
            <div class="content">
                <div class="header">Matt Giampietro</div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">2013 views</span>
                <span><i class="comment icon"></i>75 Comments</span>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <div class="right floated meta">2 days</div>
                <img class="ui avatar image" src="ailee.ico" /> Ailee
            </div>
            <div class="image">
                <img src="ailee4.jpg" />
            </div>
            <div class="content">
                <div class="header">Matt Giampietro</div>
                <div class="description">
                    Matthew is an interior designer living in New York.
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">2013 views</span>
                <span><i class="comment icon"></i>75 Comments</span>
            </div>
        </div>
    </div>
</div>