<div class="ui container text text-center margin-top-40 margin-bottom-40">
  <div class="ui segment tall stacked" id="border-top">
    <h1 class="h404">403</h1>
    <h2 class="ui header grey font-brand">NGĂN CẤM</h2>
    <p class="font-brand">Trang bạn truy cập bị cấm</p>
    <div class="ui grid">
      <div class="eight wide column text-right">
        <a href="/" class="ui button pink font-brand" title="Về trang chủ">TRANG CHỦ</a>
      </div>
      <div class="eight wide column text-left">
        <a class="ui small image " title="Ailee Phan">
          <img src="/images/404.jpeg" alt="Ailee Phan"/>
        </a>
      </div>
    </div>
  </div>
</div>
