<div class="ui container text text-center margin-top-40 margin-bottom-40">
  <div class="ui segment tall stacked" id="border-top">
    <h1 class="h404">404</h1>
    <h2 class="ui header grey font-brand">KHÔNG TÌM THẤY TRANG YÊU CẦU</h2>
    <p class="font-brand">Trang bạn đang tìm kiếm đã được di chuyển, đổi tên hoặc có thể chưa bao giờ tồn tại</p>
      <a href="/" class="ui button pink font-brand" title="Về trang chủ">TRANG CHỦ</a>
      <a class="ui small image" title="Ailee Phan">
        <img src="/images/404.jpeg" alt="Ailee Phan"/>
      </a>
  </div>
</div>
