<div class="ui container text text-center margin-top-40 margin-bottom-40">
  <div class="ui segment tall stacked" id="border-top">
    <h1 class="h404">404</h1>
    <h2 class="ui header grey">PAGE NOT FOUND</h2>
    <p>The page are you looking for was moved, renamed or might never existed</p>
    <div class="ui grid">
      <div class="eight wide column">
        <a href="/" class="ui button positive">GO HOME</a>
      </div>
      <div class="eight wide column">
        <a class="ui small image " title="Ailee Phan">
          <img src="/images/404.jpeg" alt="Ailee Phan"/>
        </a>
      </div>
    </div>
  </div>
</div>
