<div class="ui container text text-center margin-bottom-40">
  <div class="ui segments tall stacked" id="border-top" style="padding-bottom:150px;">
    <div class="ui segment ">
      <h1 class="h404">404</h1>
      <h2 class="ui header grey font-brand">KHÔNG TÌM THẤY TRANG YÊU CẦU</h2>
      <p class="margin-bottom-40 font-brand">Trang bạn đang tìm kiếm đã được di chuyển, đổi tên hoặc có thể chưa bao giờ tồn tại</p>
      <a href="/" class="ui button pink font-brand" title="Về trang chủ">TRANG CHỦ</a>
      <div class="ui small image pos-r mobile-pos">
        <img src="/images/404.png" alt="Ailee Phan" class="pos-a" />
      </div>
    </div>
  </div>
</div>