<div class="ui container text text-center margin-top-40 margin-bottom-40">
  <div class="ui segment tall stacked" id="border-top">
    <h1 class="h404">403</h1>
    <h2 class="ui header grey">LỖI</h2>
    <p>Thao tác bạn vừa thực hiện lỗi. Vui lòng thực hiện lại, có thể do hệ thống đang nâng cấp</p>
    <div class="ui grid">
      <div class="eight wide column">
        <a href="/" class="ui button pink">VỀ TRANG CHỦ</a>
      </div>
      <div class="eight wide column">
        <a class="ui small image " title="Ailee Phan">
          <img src="/images/404.jpeg" alt="Ailee Phan"/>
        </a>
      </div>
    </div>
  </div>
</div>
