<footer class="ui pink vertical footer segment">
    <div class="ui center aligned container">
        <h5 class="ui centered mini header pink" style="margin-bottom:-5px">
        	Ailee Phan
        </h5>
        <div class="ui horizontal teal small divided link list">
            <a class="item active">Trang chủ</a>
            <a class="item">Truyện</a>
            <a class="item">Liên hệ</a>
        </div>
    </div>
</footer>