<footer class="ui pink vertical footer segment">
    <div class="ui center aligned text container">
        <div class="eight wide column">
            <p>
                <span class="display-block font-brand">
                <!-- Bản quyền &copy; 2016 - Truyện ngắn Ngôn tình Ailee Phan -->
                <a href="https://www.facebook.com/Ailee-Phan-1003667023016357/?ref=bookmarks" title="Facebook" class="ui circular facebook icon button pink">
					  <i class="facebook icon"></i>
					</a>
					<a href="https://twitter.com/" title="Twitter" class="ui circular twitter icon button pink">
					  <i class="twitter icon"></i>
					</a>
					<a href="https://plus.google.com/" title="Google plus" class="ui circular google plus icon button pink">
					  <i class="google plus icon"></i>
					</a>
                </span>
            </p>
        </div>
    </div>
</footer>