<footer class="ui pink vertical footer segment">
    <div class="ui center aligned text container">
            <div class="eight wide column">
                <h4 class="ui header pink" style="margin-bottom:4px">Liên hệ</h4>
                <p>
                    <span>Email: ailee@gmail.com</span><br/>
                    <span>Địa chỉ: Dong Thap, Hoang Lien Son, Vietnam</span>
                </p>
            </div>
    </div>
</footer>