<footer class="ui pink vertical footer segment">
    <div class="ui center aligned container">
        <h5 class="ui centered mini header pink" style="margin-bottom:-5px">
        	Ailee Phan
        </h5>
    </div>
</footer>