<footer class="ui pink vertical footer segment">
    <div class="ui center aligned text container">
        <div class="eight wide column">
            <p>
                <span class="display-block font-brand">
                Bản quyền &copy 2016 - Truyện ngắn Ngôn tình Ailee Phan
                </span>
                <span class="display-block font-brand">
                	<a class="ui circular facebook icon button">
					  <i class="facebook icon"></i>
					</a>
					<a class="ui circular twitter icon button">
					  <i class="twitter icon"></i>
					</a>
					<a class="ui circular linkedin icon button">
					  <i class="linkedin icon"></i>
					</a>
					<a class="ui circular google plus icon button">
					  <i class="google plus icon"></i>
					</a>
                </span>
            </p>
        </div>
    </div>
</footer>