<footer class="ui pink vertical footer segment">
    <div class="ui center aligned text container">
        <div class="eight wide column">
            <h4 class="ui header pink font-brand" style="margin-bottom:4px">Liên hệ</h4>
            <p>
                <span class="font-brand">Email: ailee.phan.95@gmail.com</span><br/>
                <span class="font-brand">Địa chỉ: Đồng Tháp, Hoàng Liên Sơn, Việt Nam</span>
            </p>
        </div>
    </div>
</footer>