<footer class="ui pink vertical footer segment">
    <div class="ui center aligned text container">
        <div class="eight wide column">
            <span class="display-block font-brand margin-top-10 margin-bottom-10">
            	<a href="https://www.facebook.com/Ailee-Phan-1003667023016357/?ref=bookmarks" title="Facebook" class="ui circular facebook icon button">
				  <i class="facebook icon"></i>
				</a>
				<a href="https://twitter.com/" title="Twitter" class="ui circular twitter icon button">
				  <i class="twitter icon"></i>
				</a>
				<a href="https://www.linkedin.com/" title="Linkedin" class="ui circular linkedin icon button">
						<i class="linkedin icon"></i>
				</a>
				<a href="https://plus.google.com/" title="Google plus" class="ui circular google plus icon button">
				  <i class="google plus icon"></i>
				</a>
            </span>
        </div>
    </div>
</footer>