<footer class="ui pink vertical footer segment">
    <div class="ui center aligned text container">
        <div class="eight wide column">
            <p>
                <span class="display-block font-brand">
                Bản quyền © 2016 - Truyện ngắn Ngôn tình Ailee Phan
                </span>
                <span class="display-block font-brand">Địa chỉ: Đồng Tháp, Hoàng Liên Sơn, Việt Nam</span>
            </p>
        </div>
    </div>
</footer>