<header>
	<div class="ui main text container">
		<%- partial('login.ejs') %> 
		<a href="/" title="Ailee Phan" class="ui image">
		<img src="/images/ailee3.png" class="logo" alt="Ailee Phan" />
		</a>
	</div>
</header>