<header class="border-bottom">
	<div class="ui main text container ">
	    <div class="ui borderless main menu">
	        <div class="item">
	            <h1 class="ui header pink"><span class="logo">Ailee Phan</span></h1>
	        </div>
	        <%- partial('login.ejs') %>
	    </div>
	</div>
</header>