<header>
	<div class="ui main text container ">
	    <div class="ui borderless main menu font-brand">
	        <a href="/" class="ui image margin-bottom-20">
	            <img src="/images/ailee.png" class="logo">
	        </a>
	        <%- partial('login.ejs') %> 
	    </div>
	</div>
</header>