<header class="ui main container">
    <div class="ui borderless main menu">
        <div class="item">
            <h1 class="ui header pink"><span class="logo">Ailee Phan</span></h1>
        </div>
        <%- partial('login.ejs') %>
    </div>
</header>
