<div class="item right">
	<div class="ui inline dropdown connected hide" onClick="dropdown();">
		<div class="text connected-name">
			<img class="ui avatar image connected-avatar" />
		</div>
		<i class="dropdown icon"></i>
		<div class="menu">
			<a href="/write" class="item"><i class="pencil icon"></i> Writting</a>
		    <a class="item"><i class="setting icon"></i> Settings</a>
		    <a class="divider"></a>
		    <a class="item"><i class="key icon"></i> Logout</a>
		</div>
	</div>
	<a class="ui button unknown hide">
		Login
	</a>
</div>


