<div class="item right">
	<div class="ui simple dropdown connected hide">
		<div class="text connected-name">
			<img class="ui avatar image connected-avatar" />
			<span></span>
		</div>
		<i class="dropdown icon"></i>
		<div class="menu connected-menu">
		</div>
	</div>
	<a class="ui circular unknown pink hide icon button" onClick="FB.login();">
  		<i class="facebook icon"></i>
	</a>
	<div class="ui active small inline loader menu-loader"></div>
</div>

