<div class="item right text-right">
	<div class="ui inline dropdown connected font-brand hide">
		<img class="ui avatar image connected-avatar" />
		<span class="connected-name"></span>
		<i class="dropdown icon"></i>
		<div class="menu connected-menu">
		</div>
	</div>
	<a class="ui circular unknown pink hide icon button" onClick="onClickLoginFacebook()">
  		<i class="facebook icon"></i>
	</a>
	<div class="ui active small inline loader menu-loader"></div>
</div>

