<div class="item right">
	<div class="ui inline dropdown connected font-brand hide">
		<!-- <div class="text connected-name font-brand"> -->
			<img class="ui avatar image connected-avatar" />
			<span>Lethanh</span>
		<!-- </div> -->
		<i class="dropdown icon"></i>
		<div class="menu connected-menu">
		</div>
	</div>
	<a class="ui circular unknown pink hide icon button" onClick="onClickLoginFacebook()">
  		<i class="facebook icon"></i>
	</a>
	<div class="ui active small inline loader menu-loader"></div>
</div>

