<nav class="ui secondary pink pointing menu">
    <div class="ui container font-menu ">
        <a class="item right">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search..." />
                <i class="search icon"></i>
            </div>
        </a>
    </div>
</nav>