<div class="ui container text margin-top-40">
    <table class="ui grey table">
  <thead>
    <tr><th>#</th>
    <th>Tiêu đề</th>
    <th>Tráng thái</th>
    <th>Hiển thị</th>
    <th>Xem</th>
  </tr></thead><tbody>
    <tr>
      <td>1</td>
      <td>Ngày mai sẽ ra sao</td>
      <td>Đang viết</td>
      <td>
        <div class="ui toggle checkbox pink">
          <input type="checkbox" class="write-show pink" />
          <label>&nbsp;</label>
        </div>
      </td>
      <td><a class="ui button mini pink">Chi tiết</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Hôm nay sống cho ngày mai</td>
      <td>Hoàn thành</td>
      <td>
        <div class="ui toggle checkbox pink">
          <input type="checkbox" class="write-show pink" />
          <label>&nbsp;</label>
        </div>
      </td>
      <td><a class="ui button mini pink">Chi tiết</a></td>
    </tr>
  </tbody>
</table>
    <div>&nbsp;
    </div>
</div>