<div class="ui container margin-top-40">
    <table class="ui inverted pink table">
      <thead>
        <tr><th>#</th>
        <th>Title</th>
        <th>Status</th>
      </tr></thead><tbody>
        <tr>
          <td>Apples</td>
          <td>200</td>
          <td>0g</td>
        </tr>
        <tr>
          <td>Orange</td>
          <td>310</td>
          <td>0g</td>
        </tr>
      </tbody>
    </table>
    <div>&nbsp;
    </div>
</div>