<div class="ui container margin-top-40">
  <form class="ui form">
  <div class="field">
    <textarea id='content'></textarea>
  </div>
      <a class="ui button pink right" onClick="clickSave()">
      Save
      </a>
      <div class="field">
      &nbsp;
      </div>
  </form>
</div>
