<div class="ui container margin-top-40">
	<div class="ui very relaxed items">
		<div class="item">
			<div class="image">
				<img src="ailee.ico">
			</div>
			<div class="content">
				<h1 class="ui pink header">
				  	<div class="content">
				    	<span class="font-header">Alibaba and 40 robbers</span>
				    	<div class="sub header">Fairy tales </div>
				  	</div>
				</h1>
				<div class="description">
					<p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id...<a href="#link">more</a></p>
					<a href="/stories/view/dsadsadsa" class="ui mini pink button">Detail</a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="image"><img src="ailee.ico"></div>
			<div class="content">
				<h3 class="ui pink header" href="#link">
					Link Header
					<div class="sub header">Fairy tales </div>
				</h3>
				<div class="description">
					<p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet. Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
					<a href="/stories/view/dasdasdsa" class="ui mini pink button">Detail</a>
				</div>
			</div>
		</div>
	</div>
</div>
