/* override semantic styles */

@font-face {
    font-family: UTMCentur;
    src: url('../../fonts/UTMCentur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: UTMIsadoraBold;
    src: url('../../fonts/UTMIsadoraBold.ttf') format('truetype');
}

body {
    background: url('../../images/bg.gif') no-repeat 0 0 fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: 100% 100%;
    background-position: left top;
}

.ui.menu {
    background: transparent;
}

.font-header {
    font-family: UTMIsadoraBold !important;
    text-transform: capitalize !important;
}

.font-brand {
    font-family: UTMCentur !important;
    font-weight: normal !important;
}

.font-button {
    font-family: UTMCentur !important;
    font-size: 12px !important;
}

.capitalize {
    text-transform: capitalize;
}

.font-menu {
    font-family: UTMCentur;
    font-size: 16px;
}

.font-content {
    font-family: UTMCentur;
    font-size: 16px !important;
}

.font-ribbon {
    font-family: UTMIsadoraBold !important;
    font-size: 16px !important;
}

.font-ribbon-button {
    font-family: UTMIsadoraBold !important;
    font-size: 16px !important;
}

.min-height-768px {
    min-height: 768px;
}

.main.container {
    margin-top: 2em;
}

.main.menu {
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.secondary.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
    font-size: 16px;
}

.secondary.menu .item img.logo {
    margin-right: 1.5em;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}

.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.secondary.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
    left: 800px;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
    padding: 1em 0em;
}

.ui.comments {
    max-width: 100%;
}

.italic {
    font-style: italic;
}

.hr {
    border-color: #fff !important;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
    margin-right: 1em;
}

.float-right {
    float: right;
    margin-left: 1em;
}

.ui.menu,
.ui.menu>.item:first-child,
.ui.input input,
.ui.button {
    border-radius: 0;
}


/*.ui.segments>.segment:first-child,*/

#border-top {
    width: 100%;
    border-width: 50px 0px 0px 0px;
    border-image: url("../../images/border-top-notebook.png") 100% 0 round;
    box-shadow: 0 27px 27px 0 rgba(34, 36, 38, .15);
}

.border-bottom {
    border-bottom: 2px solid #e03997;
}

.media-time {
    font-style: italic;
    font-size: 13px;
}

.logo {
    width: 100% !important;
    max-height: 150px !important;
}

.margin-top-10 {
    margin-top: 10px
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px
}

.margin-top-30 {
    margin-top: 30px
}

.margin-top-40 {
    margin-top: 40px
}

.margin-top-50 {
    margin-top: 50px
}

.margin-bottom-10 {
    margin-bottom: 10px
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.margin-bottom-30 {
    margin-bottom: 30px
}

.margin-bottom-40 {
    margin-bottom: 40px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.margin-left-10 {
    margin-left: 10px
}

.margin-left-20 {
    margin-left: 20px
}

.margin-left-30 {
    margin-left: 30px
}

.margin-left-40 {
    margin-left: 40px
}

.margin-left-50 {
    margin-left: 50px
}

.margin-right-10 {
    margin-right: 10px
}

.margin-right-20 {
    margin-right: 20px
}

.margin-right-30 {
    margin-right: 30px
}

.margin-right-40 {
    margin-right: 40px
}

.margin-right-50 {
    margin-right: 50px
}

.margin-top-5 {
    margin-top: 5px;
}

.hide {
    display: none !important;
}

.write-title {
    font-size: 16px !important;
}

.ui.form input[type="text"],
.ui.form input[type=text]:focus {
    border-radius: 0;
}

.ui.form input[type=text]:focus {
    border-color: #e03997 !important;
}

.ui.input input:focus {
    border-color: #e03997 !important;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.floated-right {
    float: right;
}

.size-18 {
    font-size: 18px;
}

.color-pink {
    color: #e03997;
}

a.go-home:hover {
    color: #e61a8d;
}

.height-image-home {
    height: 200px !important;
}

.max-height-image-view {
    max-height: 550px !important;
}

.margin-top-negative-20 {
    margin-top: -20px;
}

.error-message-write {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
    color: #9f3a38 !important;
    border-color: #9f3a38 !important;
    background-color: #fff6f6 !important;
}

a {
    text-decoration: none;
    color: #e03997;
}

a:hover {
    text-decoration: none;
    color: #e03997;
}

.ui.pink.segment:not(.inverted) {
    border-top: 2px solid #e03997;
    background: rgba(255, 176, 220, 0.34);
}

.toast {
    font-family: UTMCentur !important;
}

.display-block {
    display: block;
}

.fb-like-ailee {
    overflow: hidden !important;
    width: 150px !important;
}

.connected-avatar {
    width: 4em !important;
    height: 4em !important;
}

.h404 {
    font-size: 100px !important;
    font-weight: bold;
    font-family: Oswald;
    color: #e03997;
    text-shadow: 5px 2px 4px #61275B;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.pos-r {
    position: relative !important;
}

.pos-a {
    position: absolute;
    top: -40px;
    left: -15px;
}
