<div class="ui container margin-top-40">
	<h1 class="ui header">About<h1>
	<div class="ui form">
		
		<div class="three fields">
			<div class="field">
				<div class="ui input">
	    			<label>Name: Phan Ha Thuy Anh</label>
				</div>
			</div>
			<div class="field">
				<div class="ui input">
	    			<label>Date of Birth: 10/02/2010</label>
				</div>
			</div>
			<div class="field">
				<div class="ui input">
	    			<label>Address: TP. HCM</label>
				</div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui input">
	    			<label>Name: Phan Ha Thuy Anh</label>
				</div>
			</div>
			<div class="field">
				<div class="ui input">
	    			<label>Date of Birth: 10/02/2010</label>
				</div>
			</div>
			<div class="field">
				<div class="ui input">
	    			<label>Address: TP. HCM</label>
				</div>
			</div>
		</div>
	</div>
</div>